asgiref==3.9.2
certifi==2025.10.5
charset-normalizer==3.4.4
Django==4.2.7
django-cors-headers==4.3.1
djangorestframework==3.14.0
ecdsa==0.19.1
gunicorn==22.0.0
idna==3.11
packaging==25.0
pyasn1==0.6.1
python-decouple==3.8
python-dotenv==1.1.1
python-jose==3.5.0
pytz==2025.2
requests==2.32.5
rsa==4.9.1
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.11.0
dj-database-url==2.1.0
psycopg[binary]==3.2.10

openpyxl==3.1.2
celery==5.3.4
django-celery-beat==2.5.0

